<section class="main-container">
<ul class="create-event-list" id="craeteEventsList">
<li class="create-event-item">
  <h1 class="title"> CREATE EVENT</h1>
  <h2 class="event-name">Title<h2>
    <input type="text" name="title" value="">
  <h2 class="event-location">Location<h2>
    <input type="text" name="location" value="">
  <p class="short-description">Description<p>
    <input type="text" name="description" value="">
  <p class="event-date"></p>
  <input type="text" name="date" value="">
</li>
</ul>
</section>

<script src="/js/index.js"></script>
