<section class="main-container">

    <h1 class="title">CREATE EVENT</h1>

    <form action="/insert" method="post" class="create-event" id="craeteEvent">
      <label for="title" class="event-name">Title<label>
      <input type="text" name="title" id="title" value=""><br>
      <label for="location" class="event-location">Location<label>
      <input type="text" name="location" id="location" value=""><br>
      <label for="description" class="description">Description<label>
      <input type="text" name="description" id="description" value=""><br>
      <label for="day" class="event-day">Day</label>
      <input type="text" name="day" id="day" value=""><br>
      <label for="date" class="event-date">Date</label>
      <input type="text" name="date" id="date" value=""><br>
      <label for="time" class="event-time">Time</label>
      <input type="text" name="time" id="time" value=""><br>
      <button type="submit" class="submit">SUBMIT</button>
  </form>
</section>

<script src="/js/index.js"></script>
