<section class="error">

  <img class="404-image" src="./images/404.png" alt="404">
  <h1 class="404-title">SO SORRY!</h1>
  <h2 class="404-sub">We can't seem to find the page you are looking for...</h2>

</section>
