<section class="main-container">
  <h1 class="main-title"></h1>
  <img class="single-event-image" src="../images/{{event}}.jpg" alt="{{event}}">
  <h2 class="single-event-date"></h2>
  <p class="single-event-description"></p>
  <p class="event-participants"></p>
  <button class="participants-btn"></button>
</section>
