<h1 class="main-title">EVENTS</h1>

<section class="main-container">
  <ul class="events-list" id="eventsList">

    {{#each events}}

    <li class="event-item">
      <h2 class="event-name"></h2>
      <a class="event-link" href="/events/{{this}}"><div class="event-image"></div></a>
      <p class="short-description"></p>
      <p class="event-date"></p>
    </li>

    {{/each}}

  </ul>
</section>

<script src="/js/index.js"></script>
