<section class="home-section">

  <form action="/events" method="get" class="home-to-events" id="homeToEvents">
    <button type="submit" class="submit-logo">
      <img class="logo-button" src="./images/logo.png" alt="logo">
    </button>
  </form>

  <h2 class="sub-title">The change begins here.<br> Click the logo to start.</h2>

</section>
