<section class="home-section">
  <img class="logo" src="logo.jpg" alt="logo">
  <h1 class="main-title">SOMETHING GOOD</h1>
  <p class="click">The change begins here. Click the logo to start.</p>
</section>
