<section class="thanks-section">
  <img class="thanks" src="/images/thankyou.png" alt="thanks">
  <p class="thanks-p">We appreciate your contribution!</p>

  <form action="/events" method="get" class="create-event" id="craeteEvent">
    <button type="submit" class="submit">See Events</button>
  </form>

</section>
