<section class="thanks-section">
  <img class="thanks" src="thanks.jpg" alt="thanks">
  <h1 class="main-title">THANK YOU</h1>
  <p class="thanks-p">We appreciate your contribution!</p>

  <form action="/events" method="get" class="create-event" id="craeteEvent">
    <button type="submit" class="submit">See Events</button>
  </form>

</section>
